name: CD
on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    name: Build and push xray image

    runs-on: ubuntu-latest
    environment: build

    steps:
      - uses: actions/checkout@v4

      - name: Log in to registry
        uses: docker/login-action@v2
        with:
          registry: ${{ vars.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/xray.Dockerfile
          push: true
          tags: |
            ${{vars.REGISTRY_URL}}/netku/xray:prod-${{ github.run_number }}